@import "../utils/mixins";
@import "../utils/variables";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--color-text-main);

  background-color: var(--color-hero-bg);
  font-family: var(--font-family--roboto-mono);
  font-size: var(--font-size--body-mob);
  letter-spacing: -0.28px;

  @media screen and (min-width: $tablet) {
    font-size: var(--font-size--body-tab);
    letter-spacing: -0.32px;
  }
}

// main {
// background-color: var(--color-background);
// }

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  color: var(--color-text-main);
}
