@import "../utils/variables";

@keyframes move {
  100% {
    transform: translateY(calc(100vh + 58px - 175px));
  }
}

.svg {
  fill: #ffffff;
  transition: fill 0.2s ease-in-out;
}

// .warning_input {
//   border-color: var(--color-warning) !important;
// }

// .typed_input {
//   border-color: var(--color-accent);
// }

// .show {
//   display: flex;
// }

.active_tab {
  border-color: var(--color-accent) !important;
  color: var(--color-text-main);
}

.balance_prompt {
  // display: block;

  animation: move 1s linear;
  animation-fill-mode: forwards;

  @media screen and (min-width: $desktop) {
    // left: 201px;
    width: 165px;
  }
}

.apr_prompt {
  display: block;

  animation: move 1s linear;
  animation-fill-mode: forwards;

  @media screen and (min-width: $desktop) {
    // left: -67.5px;
    width: 360px;
  }
}

.rewards_prompt {
  display: block;

  animation: move 1s linear;
  animation-fill-mode: forwards;

  @media screen and (min-width: $desktop) {
    // left: 65px;
    width: 176px;
    text-align: center;
  }
}
