@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.hero {
  @include container;

  padding-top: 65px;
  height: 227px;

  @media screen and (min-width: $tablet) {
    padding-top: 102px;
    height: 278px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 94px;

    height: 271px;
  }

  &_title {
    width: 224px;

    font-family: var(--font-family--kanit-regular);
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: normal;

    @media screen and (min-width: $tablet) {
      width: 100%;

      font-size: 40px;
      line-height: 1.4;
    }

    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }

  &_info_list {
    display: flex;
    margin-top: 26px;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      margin-top: 18px;
      gap: 24px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 16px;
      gap: 40px;
    }

    & > li {
      position: relative;
      font-size: 12px;
      letter-spacing: -0.24px;

      @media screen and (min-width: $tablet) {
        font-size: 16px;
      }
    }

    :nth-child(1) {
      width: 102px;

      @media screen and (min-width: $tablet) {
        width: 170px;
      }

      @media screen and (min-width: $desktop) {
        width: 309px;
      }

      & > .question_mark {
        left: 81px;

        @media screen and (min-width: $tablet) {
          left: 121px;
        }
        @media screen and (min-width: $desktop) {
          left: 283px;
        }
      }
    }

    :nth-child(2),
    :nth-child(3) {
      width: 40.5px;

      @media screen and (min-width: $tablet) {
        width: 88px;
      }

      @media screen and (min-width: $desktop) {
        width: 153px;
      }

      & > .hero_accent_word {
        @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
          margin-right: 30px;
        }
      }

      & > .question_mark {
        left: 37px;

        @media screen and (min-width: $tablet) {
          left: 58px;
        }
        @media screen and (min-width: $desktop) {
          left: 111px;
        }
      }
    }

    :nth-child(3) {
      @media screen and (min-width: $desktop) {
        width: 72px;
      }
    }

    :nth-child(4) {
      width: 93px;

      @media screen and (min-width: $tablet) {
        padding-right: 150px;
        width: 244px;
      }

      @media screen and (min-width: $desktop) {
        padding-right: 0;
        width: 179px;
      }

      & > .question_mark {
        left: 50px;

        @media screen and (min-width: $tablet) {
          left: 71px;
        }
        @media screen and (min-width: $desktop) {
          left: 152px;
        }
      }
    }
  }

  &_accent_word {
    font-size: 18px;
    font-family: var(--font-family--roboto-mono-bold);
    letter-spacing: -0.36px;

    @media screen and (min-width: $tablet) {
      font-size: 28px;
      line-height: 1.7;
      letter-spacing: normal;
    }

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.33;
    }
  }

  &_info_desc {
    line-height: 26px;

    @media screen and (max-width: 371px) {
      font-size: 10px;
    }
  }
}

.question_mark {
  position: absolute;
  top: 4px;
  max-width: 14px;

  @media screen and (min-width: $tablet) {
    top: 18px;
    max-width: 18px;
  }
  @media screen and (min-width: $desktop) {
    top: 22px;
  }
}
