@import "../../sass//utils/mixins";
@import "../../sass/utils/variables";

.title {
  @include container;

  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-family--kanit-regular);
  font-size: var(--font-size--title-mob);
  font-weight: 400;

  @media screen and (min-width: $tablet) {
    font-size: var(--font-size--title-tab);
  }
  @media screen and (min-width: $desktop) {
    font-size: var(--font-size--title-web);
  }

  &_underline {
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
      max-width: calc(100% - 50px);
    }
    @media screen and (min-width: $desktop) {
      max-width: 1200px;
    }
  }
}
