@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.page {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #2f2f2f;
    height: 35px;
  }

  &_title {
    font-family: var(--font-family--kanit-regular);
    font-size: 18px;
    letter-spacing: -0.36px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      letter-spacing: -0.48px;
    }
  }

  &_rate_title {
    color: var(--color-text-desc);
  }

  &_rate_value {
    font-family: var(--font-family--roboto-mono-bold);
    font-size: 18px;
    line-height: 1.4;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }

  &_rate_desc {
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }

  &_form {
    width: 100%;
    margin-top: 24px;

    @media screen and (min-width: $tablet) {
      width: 391px;
    }
  }

  &_form_input {
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      border-color: var(--color-accent);
    }

    &_warning {
      border-color: var(--color-warning) !important;
    }
  }

  &_form_error_box {
    padding-top: 2px;
    height: 20px;
  }

  &_form_error {
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0.26px;
    color: var(--color-warning);
  }

  &_available {
    margin-top: 12px;
    padding-top: 2px;
    color: var(--color-text-desc);

    @media screen and (min-width: $tablet) {
      margin-top: 16px;
    }

    :last-child {
      color: var(--color-text-main);
    }
  }

  &_available_claim {
    margin-top: 24px;
  }

  &_available_value {
    font-family: var(--font-family--roboto-mono-bold);
    color: var(--color-text-main);
  }

  &_form_btn {
    @include button;
    margin-top: auto;
  }
}

@media screen and (min-width: $tablet) {
  .stake_btn {
    width: 130px;
  }

  .withdraw_btn {
    width: 160px;
    margin-top: 0;
  }

  .claim_btn {
    width: 210px;
  }
}

.withdrow_buttons_box {
  display: flex;
  margin-top: auto;
}

.withdraw_btn_all {
  @media screen and (max-width: $max-tablet) {
    display: none;
  }
  width: 358px;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--color-accent);
  }
}
