@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";

.header {
  position: fixed;
  width: 100%;
  z-index: 100;

  &_container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;

    @media screen and (min-width: $tablet) {
      padding-top: 0;
      height: 70px;
    }

    @media screen and (min-width: $desktop) {
      left: calc((100vw - 1440px) / 2);
    }
  }

  &_btn {
    @include button;
    width: 167px;
  }
}
