@import "../../sass/utils/variables";

.nav_bar {
  display: flex;

  width: 100%;
  color: var(--color-text-desc);

  @media screen and (max-width: $max-mobile) {
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
  }

  a {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 5px solid transparent;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      padding-left: 32px;
      padding-right: 32px;
    }

    &:hover {
      color: var(--color-text-main);
    }
  }
}
